/* Universal CSS */
/* Nav Bar & Background */
body {
  background-color: #ebf5f5;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #072a36;
  color: #fff5e4;
  font-family: "Poppins", sans-serif;
  padding: 0.625em 1.875em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.875em;
  margin: 0 1.25em;
  padding: 0;
}

.disco-title {
  display: flex;
  align-items: center;
}

#nav-logo {
  width: 6.25em;
  height: 6.25em;
}

#main-nav a {
  text-decoration: none;
  color: #fff5e4;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  padding: 0.25em 0;
  font-weight: 800;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.125em;
  width: 100%;
  background-color: #fff5e4;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

.page-break {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 12.5em;
}

#disco-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 12.5em;
}

/* Dropdown Content */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #072a36;
  min-width: 11.25em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 0.625em 0;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  color: #fff5e4;
  padding: 0.625em 1.25em;
  display: block;
  font-weight: normal;
}

.dropdown-content li a:hover {
  background-color: #0d3e4a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Skip to main */
.skip-link {
  position: absolute;
  top: -2.5em;
  left: 0;
  background-color: #072a36;
  color: #fff5e4;
  padding: 0.6875em 3.125em;
  font-weight: bold;
  z-index: 1000;
  text-decoration: none;
  transition: top 0.3s ease;
}

.skip-link:focus {
  top: 0.625em;
}

/* TEXT */
h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 4.375em;
  font-weight: normal;
  margin-bottom: 0.313em;
  color: #072a36;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: #1a1d1f;
}

p {
  font-family: "Montserrat", sans-serif;
  color: #1a1d1f;
  line-height: 1.5em;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #1a1d1f;
  text-decoration: none;
}

.scroll-to-top {
  position: relative;
  font-weight: bold;
  color: #b04022;
  text-decoration: none;
  display: inline-block;
  padding: 0.25em 0;
}

.scroll-to-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.125em;
  width: 100%;
  background-color: #b04022;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.scroll-to-top:hover::after {
  transform: scaleX(1);
}

.page-description {
  padding: 3.75em 2.5em;
  max-width: 75em;
  margin: 0 auto;
}

.link-to-page {
  color: #b04022;
}

#manual,
#workshop,
#persona-deck,
#ship-deck,
#pamphlets,
.pamphlets-downloads {
  gap: 0.625em;
  padding: 3.75em 2.5em;
  max-width: 60em;
  margin: 0 auto;
}

#manual,
#persona-deck {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3.75em 2.5em;
  max-width: 60em;
  margin: 0 auto;
  flex-wrap: wrap;
}

#workshop,
#pamphlets {
  display: flex;
  flex-direction: row-reverse;
  gap: 2.5em;
  align-items: flex-start;
  padding: 3.75em 2.5em;
  max-width: 60em;
  margin: 0 auto;
  flex-wrap: wrap;
}

.manual-text,
.workshop-text,
.persona-text,
.pamphlets-text {
  flex: 1;
  min-width: 18.75em;
}

.workshop-image,
.pamphlets-image {
  flex: 1;
  min-width: 18.75em;
  display: flex;
  flex-direction: row-reverse;
  gap: 2.5em;
  align-items: flex-start;
  flex-wrap: wrap;
}

.manual-image,
.persona-image {
  flex: 1;
  min-width: 18.75em;
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  align-items: flex-start;
  flex-wrap: wrap;
}

.manual-image img,
.workshop-image img,
.persona-image img,
.pamphlets-image img {
  width: 100%;
  max-width: 31.25em;
  border-radius: 1.875em;
}

/* Sub Navigation Bar */
#sub-nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 1.25em;
  padding: 3.75em 2.5em;
  max-width: 75em;
  margin: 0 auto;
  font-weight: 900;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625em;
  margin-top: 0.625em;
  padding-bottom: 3.125em;
}

.buttons button {
  background-color: #b04022;
  color: #fff5e4;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 1.875em;
  padding: 0.625em 0.938em;
  font-weight: bold;
}

.buttons button:hover {
  transition: 0.3s ease;
  background-color: #072a36;
  cursor: pointer;
}

/* FOOTER */
#footer {
  gap: 0.625em;
  padding: 3.75em 2.5em;
  max-width: 75em;
  margin: 0 auto;
  text-align: center;
}
